<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Rakibul's-Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
  /* Custom CSS for the transition effect */
  .p-5 {
    background-color: transparent;
  }

  .p-5 img {
    margin: 10px;
    transition: transform 0.3s ease;
  }

  .p-5 img:hover {
    transform: scale(1.1);
  }
</style>

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Rakibul Haque</h1>
      <p>I'm a <span class="typed" data-typed-items="Computer Vision Engineer, Developer, Freelancer, Pet Lover"></span></p>
      <div class="social-links">
        <a href="https://twitter.com/hackingandt" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://github.com/rakibulhaque9954" target="_blank"  class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/rakibul-haque-239b69254/" target="_blank"  class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About me</h2>
          <p><i>"In a quest to unravel the secrets of the universe using minds and machines"</i></p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="../static/assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Computer Vision Engineer</h3>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>26 April 1999</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><a href="https://rakibuls-thoughts.onrender.com">https://rakibuls-thoughts.onrender.com</a></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+81-90-1360-9954</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Fukuoka, Japan</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>24</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelors in Computer Science</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>rakibulhaque9954@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
             "Thank you for taking the time to visit my page.
              Just a few days ago, I had a realization about the era we are living in,
              and suddenly, I was mesmerized by its sheer beauty.
              Since an early age, I've had a knack for picking up languages as I journeyed around the world.
              I attempted to apply this language proficiency to machines as well because,
              after all, we communicate with machines using languages.
              And so, here we are – the language of machines has sparked an even greater excitement within me.

              This journey led me to become a Translator (Software Developer).
              My hope is that I can share some of this excitement with you and that together,
              we can collaboratively tackle more challenges by harnessing the language of computers."

            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skillsets</h2>
        </div>
<div class="p-5 text-center rounded-3">
  <img src="https://img.icons8.com/?size=512&id=n3QRpDA7KZ7P&format=png" alt="Icon" width="64" height="64" data-bs-toggle="tooltip" data-bs-placement="top" title="Tensor Flow">
  <img src="https://img.icons8.com/?size=512&id=bpip0gGiBLT1&format=png" alt="Icon" width="64" height="64" data-bs-toggle="tooltip" data-bs-placement="top"title="OpenCV">
  <img src="https://img.icons8.com/?size=512&id=13441&format=png" alt="Icon" width="64" height="64" data-bs-toggle="tooltip" data-bs-placement="top" title="Python">
  <img src="https://img.icons8.com/?size=512&id=39848&format=png" alt="Icon" width="64" height="64" data-bs-toggle="tooltip" data-bs-placement="top"title="Unity Games">
  <img src="https://img.icons8.com/?size=512&id=MHcMYTljfKOr&format=png" alt="Icon" width="64" height="64" data-bs-toggle="tooltip" data-bs-placement="top" title="Flask Web Framework">
  <img src="https://img.icons8.com/?size=512&id=21888&format=png" alt="Icon" width="64" height="64" data-bs-toggle="tooltip" data-bs-placement="top" title="REST Api">
  <img src="https://img.icons8.com/?size=512&id=38561&format=png" alt="Icon" width="64" height="64" data-bs-toggle="tooltip" data-bs-placement="top" title="POSTGRES">
  <img src="https://img.icons8.com/?size=512&id=55251&format=png" alt="Icon" width="64" height="64" data-bs-toggle="tooltip" data-bs-placement="top" title="C#">
  <img src="https://img.icons8.com/?size=512&id=20909&format=png" alt="Icon" width="64" height="64" data-bs-toggle="tooltip" data-bs-placement="top" title="HTML 5">
  <img src="https://img.icons8.com/?size=512&id=21278&format=png" alt="Icon" width="64" height="64" data-bs-toggle="tooltip" data-bs-placement="top" title="CSS">
</div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Rakibul Haque</h4>
              <p><em>Passionate and forward-thinking AI Engineer skilled in harnessing the power of artificial intelligence to develop innovative solutions. Proficient in machine learning and deep learning techniques, with a strong track record of driving impactful outcomes. Dedicated to advancing AI technology to create smarter systems and enhance user experiences.</em></p>
              <ul>
                <li>Fukuoka, Japan</li>
                <li>+81 90 1360 9954</li>
                <li>rakibulhaque9954@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelors in Computer Science</h4>
              <h5>2018 - 2020</h5>
              <p><em>Coventry University, Coventry, United Kingdom</em></p>
              <p>The Road to becoming a professional Computer Enthusiast</p>
            </div>
            <div class="resume-item">
              <h4>Diploma in Sports Science</h4>
              <h5>2020 - 2021</h5>
              <p><em>PSB Academy, Singapore</em></p>
              <p>Harnessed my fitness attitude to empower more learning</p>
            </div>
            <div class="resume-item">
              <h4>Diploma in Infocomm Technology</h4>
              <h5>2017 - 2018</h5>
              <p><em>PSB Academy, Singapore</em></p>
              <p>Taught me more than just hardware and software</p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Tech Support</h4>
              <h5>2022 - 2023</h5>
              <p><em>Tapiking Smoothies, Fukuoka, Japan </em></p>
              <ul>
              <li>Led the strategic development and implementation of tech-related support and IT system enhancements</li>
              <li>Guided a team of 7 members in managing IT systems, providing technical assistance, and analyzing sales data</li>
              <li>Championed the creation of a streamlined time card entry system to ensure efficient work accountability</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Sales Representative</h4>
              <h5>2022 - 2023</h5>
              <p><em>Tapiking Smoothies, Fukuoka, Japan</em></p>
              <ul>
                <li>Collaborated with the sales team to introduce new product ideas, effectively expanding the shop's offerings</li>
<li>Played a key role in translating innovative concepts into tangible products that resonated with customers</li>
<li>Contributed to the shop's growth by leveraging diverse perspectives to identify market trends and customer preferences</li>
<li>Demonstrated proactive initiative in presenting and advocating for new product ideas, leading to increased sales and market presence</li>
              </ul>
            </div>
              <div class="resume-item">
              <h4>English Teacher</h4>
              <h5>2020 - 2023</h5>
              <p><em>Online and Volunteering</em></p>
              <ul>
              <li>Independently freelanced as a TEFL teacher, delivering impactful English language instruction to students</li>
<li>Designed and implemented tailored lesson plans to accommodate diverse learning styles and individual needs</li>
<li>Empowered students by fostering a positive and inclusive learning environment that encouraged active participation</li>
<li>Utilized creative teaching techniques and interactive activities to spark enthusiasm and engagement among students</li>
<li>Facilitated measurable improvements in students' language proficiency, enhancing their communication skills and confidence</li>
<li>Provided personalized feedback and constructive guidance, driving students to overcome challenges and achieve growth</li>
<li>Cultivated a passion for lifelong learning by promoting cultural awareness and global communication through language</li>

              </ul>
            </div>
          </div>
        </div>


      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>My Projects</h2>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All projects</li>
              <li data-filter=".filter-app">Computer Vision</li>
              <li data-filter=".filter-card">Web</li>
              <li data-filter=".filter-web">Games</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        {% for project in ml_projs %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://images.unsplash.com/photo-1589254065878-42c9da997008?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHJvYm90fGVufDB8fDB8fHww&auto=format&fit=crop&w=900&q=60" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{ project.title }}</h4>
                <p></p>
                <div class="portfolio-links">
                  <a href="{{ url_for('ml_projects', index=project.id) }}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link">Read more</i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

          {% for project in game_projs %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="https://images.unsplash.com/photo-1602620502036-e52519d58d92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWFyaW98ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=900&q=60" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{ project.title }}</h4>
                <div class="portfolio-links">
                  <a href="{{ url_for('game_projects', index=project.id) }}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link">Read more</i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

          {% for project in web_projs %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="https://images.unsplash.com/photo-1600463241302-88b0e1a51175?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHdlYnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=900&q=60" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{ project.title }}</h4>
                <div class="portfolio-links">
                  <a href="{{ url_for('web_projects', index=project.id) }}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link">Read more</i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>4-37-18 Hakozaki, Higashi-ku, Fukuoka-shi, Fukuoka, Japan-8120053</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>rakibulhaque9954@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+81 90 1360 9954</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="{{ url_for('email_notify') }}" method="post" role="form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Rakibul Haque<a href="{{ url_for('dashboard') }}">®️</a></h3>
      <p>you have reached the end, thank you for bearing with me.</p>
      <div class="social-links">
        <a href="https://twitter.com/hackingandt" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="https://github.com/rakibulhaque9954" target="_blank" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/rakibul-haque-239b69254/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>

    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="../static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>

</body>

</html>